@import '_breakpoints';

body {
  display: grid;
  grid: auto-flow / 1fr;
}

main {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  @media screen and (min-width: $s) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (min-width: $m) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (min-width: $l) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media screen and (min-width: $el) {
    grid-template-columns: repeat(6, 1fr);
  }

  grid-auto-flow: row dense;

  // Special case for nav element
  nav {
    /*background-color: lightgreen;*/
    // On mobile 2 columns
    grid-column: span 2;
    // Larger screens always 1 column
    @media screen and (min-width: $s) {
        grid-column: 1;
    }
  }

  // Article étroit
  .grid-column-small {
    grid-column: span 1;
  }

  // Article large
  .grid-column-medium {
    grid-column: span 2;
  }

}
